##  pandas 라이브러리와 pymysql

### 실습 환경 구축

* students.sql 을 Workbench 로 실행시키기

#### 데이터베이스 접속

In [1]:
import pymysql
import pandas as pd

In [2]:
host_name = 'localhost'
host_port = 3306
username = 'root'
password = '1234'
database_name = 'student_mgmt'

In [3]:
db = pymysql.connect(
    host=host_name,     # MySQL Server Address
    port=host_port,          # MySQL Server Port
    user=username,      # MySQL username
    passwd=password,    # password for MySQL username
    db=database_name,   # Database name
    charset='utf8'
)

###  read_sql()
* pandas 라이브러리의 기능 중, read_sql() 메서드로 SQL 바로바로 확인하기

#### pandas.read_sql(쿼리, 연결된 db connection 객체)

In [4]:
SQL = "SHOW TABLES"

In [5]:
df = pd.read_sql(SQL, db)

In [6]:
df

  Tables_in_student_mgmt
0               students

In [7]:
SQL = "SELECT * FROM students"
df = pd.read_sql(SQL, db)
df.to_csv('students.csv', sep=',', index=False, encoding='utf-8')
df

   id    name gender       birth  english  math  korean
0   1    dave    man  1983-07-16       90    80      71
1   2  minsun  woman  1982-10-16       30    88      60
2   3   david    man  1982-12-10       78    77      30
3   4    jade    man  1979-11-01       45    66      20
4   5    jane    man  1990-11-12       65    32      90
5   6    wage  woman  1982-01-13       76    30      80
6   7    tina  woman  1982-12-03       87    62      71

###  to_csv()
* pandas 라이브러리의 기능 중, to_csv() 메서드로 검색 결과 파일로 저장하기
  - csv 파일 포멧은 데이터간 콤마(,)로 구분해서 표시하는 단순 형식을 가지고 있음
  - csv 파일 포멧은 엑셀 프로그램에서도 읽고, 쓸 수 있음

In [26]:
df.to_csv('students.csv', sep=',', index=False encoding='utf-8')